---
name: Build Images
on:
    pull_request:
        branches:
            - main
    push:
        branches:
            - main
        paths-ignore:
            - "**/README.md"
    workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    build-argentite:
        name: Build argentite
        uses: ./.github/workflows/reusable_build.yml
        permissions:
            contents: read
            packages: write
            id-token: write
        with:
            image_name: "argentite"
            image_flavor: "main"
            image_desc: "Argentite - A clean GNOME bootc image"
            image_keywords: "bootc,ublue,universal-blue,gnome"

    build-argentite-dx:
        name: Build argentite-dx
        uses: ./.github/workflows/reusable_build.yml
        permissions:
            contents: read
            packages: write
            id-token: write
        with:
            image_name: "argentite-dx"
            image_flavor: "dx"
            image_desc: "Argentite DX - Developer-focused variant with dev tools"
            image_keywords: "bootc,ublue,universal-blue,gnome,dx"

    build-argentite-dx-gaming:
        name: Build argentite-dx-gaming
        uses: ./.github/workflows/reusable_build.yml
        permissions:
            contents: read
            packages: write
            id-token: write
        with:
            image_name: "argentite-dx-gaming"
            image_flavor: "dx-gaming"
            image_desc: "Argentite DX+GAMING - Developer and gaming focused variant with dev tools + Steam"
            image_keywords: "bootc,ublue,universal-blue,gnome,dx,steam"

    build-argentite-gaming:
        name: Build argentite-gaming
        uses: ./.github/workflows/reusable_build.yml
        permissions:
            contents: read
            packages: write
            id-token: write
        with:
            image_name: "argentite-gaming"
            image_flavor: "gaming"
            image_desc: "Argentite GAMING - Gaming-focused variant with Steam"
            image_keywords: "bootc,ublue,universal-blue,gnome,gaming,steam"
