---
name: Build Images
on:
    pull_request:
        branches:
            - main
    push:
        branches:
            - main
        paths-ignore:
            - "**/README.md"
    workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    build-kyanite:
        name: Build kyanite
        uses: ./.github/workflows/reusable_build.yml
        permissions:
            contents: read
            packages: write
            id-token: write
        with:
            image_name: "kyanite"
            image_flavor: "main"
            image_desc: "Kyanite - A clean KDE Plasma bootc image"
            image_keywords: "bootc,ublue,universal-blue,kde"

    build-kyanite-dx:
        name: Build kyanite-dx
        uses: ./.github/workflows/reusable_build.yml
        permissions:
            contents: read
            packages: write
            id-token: write
        with:
            image_name: "kyanite-dx"
            image_flavor: "dx"
            image_desc: "Kyanite DX - Developer-focused variant with dev tools"
            image_keywords: "bootc,ublue,universal-blue,kde,dx"

    build-kyanite-dx-gaming:
        name: Build kyanite-dx-gaming
        uses: ./.github/workflows/reusable_build.yml
        permissions:
            contents: read
            packages: write
            id-token: write
        with:
            image_name: "kyanite-dx-gaming"
            image_flavor: "dx-gaming"
            image_desc: "Kyanite DX+GAMING - Developer and gaming focused variant with dev tools + Steam"
            image_keywords: "bootc,ublue,universal-blue,kde,dx,steam"

    build-kyanite-gaming:
        name: Build kyanite-gaming
        uses: ./.github/workflows/reusable_build.yml
        permissions:
            contents: read
            packages: write
            id-token: write
        with:
            image_name: "kyanite-gaming"
            image_flavor: "gaming"
            image_desc: "Kyanite GAMING - Gaming-focused variant with Steam"
            image_keywords: "bootc,ublue,universal-blue,kde,gaming,steam"
